# Financial Data Analysis

### Downloaded the dataset from: [Kaggle](https://www.kaggle.com/datasets/samanfatima7/2020-2025-apple-stock-dataset)

In [22]:
import matplotlib.pyplot as plt
import pandas as pd

In [23]:
df = pd.read_csv("./dataset/Apple Stock 2020-2025.csv")

In [24]:
df.head()

,Date,Close,High,Low,Open,Volume
0,NaN,AAPL,AAPL,AAPL,AAPL,AAPL
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,78.83236263047952,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,78.57962969607472,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,80.25645380649277,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,80.71575616737768,147712400

In [25]:
df.drop(0, axis=0, inplace=True)
df

,Date,Close,High,Low,Open,Volume
1,2020-06-04,78.32931518554688,79.1312690763083,77.95506657558614,78.83236263047952,87560400
2,2020-06-05,80.56021881103516,80.62097312386399,78.55046881252456,78.57962969607472,137250400
3,2020-06-08,81.03653717041016,81.07056314819836,79.54441498185327,80.25645380649277,95654400
4,2020-06-09,83.59550476074219,83.98919153470604,80.68416273702039,80.71575616737768,147712400
5,2020-06-10,85.74620819091797,86.21522971767824,84.1058417038533,84.54570234634012,166651600
...,...,...,...,...,...,...
1251,2025-05-27,200.2100067138672,200.74000549316406,197.42999267578125,198.3000030517578,56288500
1252,2025-05-28,200.4199981689453,202.72999572753906,199.89999389648438,200.58999633789062,45339700
1253,2025-05-29,199.9499969482422,203.80999755859375,198.50999450683594,203.5800018310547,51396800
1254,2025-05-30,200.85000610351562,201.9600067138672,196.77999877929688,199.3699951171875,70819900
1255,2025-06-02,201.6999969482422,202.1300048828125,200.1199951171875,200.27999877929688,35343100

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1255 entries, 1 to 1255
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1255 non-null   object
 1   Close   1255 non-null   object
 2   High    1255 non-null   object
 3   Low     1255 non-null   object
 4   Open    1255 non-null   object
 5   Volume  1255 non-null   object
dtypes: object(6)
memory usage: 59.0+ KB

In [27]:
df.describe()

,Date,Close,High,Low,Open,Volume
count,1255,1255,1255,1255,1255,1255
unique,1255,1240,1255,1255,1255,1253
top,2020-06-04,142.5260467529297,79.1312690763083,77.95506657558614,78.83236263047952,90956700
freq,1,2,1,1,1,2

In [28]:
df.count()

Date      1255
Close     1255
High      1255
Low       1255
Open      1255
Volume    1255
dtype: int64

In [31]:
df.dtypes

Date      object
Close     object
High      object
Low       object
Open      object
Volume    object
dtype: object

In [32]:
df["Close"] = pd.to_numeric(df["Close"], errors="raise")

In [33]:
df["Daily_Returns"] = df["Close"].pct_change()

In [34]:
df

,Date,Close,High,Low,Open,Volume,Daily_Returns
1,2020-06-04,78.329315,79.1312690763083,77.95506657558614,78.83236263047952,87560400,NaN
2,2020-06-05,80.560219,80.62097312386399,78.55046881252456,78.57962969607472,137250400,0.028481
3,2020-06-08,81.036537,81.07056314819836,79.54441498185327,80.25645380649277,95654400,0.005913
4,2020-06-09,83.595505,83.98919153470604,80.68416273702039,80.71575616737768,147712400,0.031578
5,2020-06-10,85.746208,86.21522971767824,84.1058417038533,84.54570234634012,166651600,0.025728
...,...,...,...,...,...,...,...
1251,2025-05-27,200.210007,200.74000549316406,197.42999267578125,198.3000030517578,56288500,0.025298
1252,2025-05-28,200.419998,202.72999572753906,199.89999389648438,200.58999633789062,45339700,0.001049
1253,2025-05-29,199.949997,203.80999755859375,198.50999450683594,203.5800018310547,51396800,-0.002345
1254,2025-05-30,200.850006,201.9600067138672,196.77999877929688,199.3699951171875,70819900,0.004501
1255,2025-06-02,201.699997,202.1300048828125,200.1199951171875,200.27999877929688,35343100,0.004232